<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Picture upload service</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <nav class="navbar">
	 <div class="container">
		 <a href="/" class="navbar-brand">Upload Picture Service</a>
		 <div class="navbar-wrap">
			 <ul class="navbar-menu">
			 <li><a href="/">Home</a></li>
				 {% if auth %}
			 <li><a href="/pictures">Pictures</a></li>
			 <li><a href="/pictures/upload">Upload</a></li>
			 <li><a href="/logout">Log Out</a></li>
				 {% else %}
			 <li><a href="/login">Log In</a></li>
			 <li><a href="/registration">Registration</a></li>
				 {% endif %}
		 </ul>
		 </div>
	 </div>
 </nav>
    <main class="template" role="main">
      {% block content %}
      {% endblock %}
    </main>
<footer>
  <p>Copyright &copy; 2023</p>
</footer>
</body>
</html>