body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
}

.template {
  /* padding: 3rem 1.5rem; */
  text-align: center;
  height: 100%;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
  margin-left: 0px;
  margin-bottom: 15px;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all 0.07s ease-in-out;
}

.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  transition: all 0.07s ease-in-out;
}

.form-container {
  max-width: 450px;
  margin: 0 auto;
}

.navbar-brand:hover {
  color: coral;
}

.form-body {
  background-color: #4a304d;
  padding: 50px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 559px) {
  .navbar {
    height: 90px;
  }
}
@media only screen and (max-width: 373px) {
  .navbar {
    height: 110px;
  }
}
@media only screen and (max-width: 500px) {
  .form-body {
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 455px) {
  .form-body {
    padding: 45px 30px;
  }
}
@media only screen and (max-width: 340px) {
  .form-body {
    padding: 30px 20px;
  }
}
.form-body .title {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.the-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.the-form label {
  margin-bottom: 5px;
  color: #e6e6e6;
  font-weight: bold;
}

.the-form [type=email],
.the-form [type=password],
.the-form [type=text] {
  padding: 15px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin-bottom: 15px;
  transition: background 0.3s;
  color: #e6e6e6;
}

.the-form [type=email]::placeholder,
.the-form [type=password]::placeholder,
.the-form [type=text]::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.the-form [type=email]:hover,
.the-form [type=password]:hover,
.the-form [type=text]:hover {
  background: rgba(0, 0, 0, 0.1);
}

.the-form [type=email]:focus,
.the-form [type=password]:focus,
.the-form [type=text]:focus {
  background: #ffffff;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-color: #4a304d;
  color: #222222;
}

.the-form [type=email]:focus::placeholder,
.the-form [type=password]:focus::placeholder,
.the-form [type=text]:focus::placeholder {
  color: #666666;
}

.the-form [type=submit] {
  background: #ffb37b;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 18px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.the-form [type=submit]:hover {
  opacity: 0.9;
}

.form-footer div {
  text-align: center;
  padding: 25px 20px;
  font-size: 18px;
  color: #000;
}

.form-footer div a {
  color: #ffb37b;
}

footer {
  background-color: #f2f2f2;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 480px) {
  footer {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
