{% extends "base.html" %}

{% block content %}
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger">{{message}}: {{messages[message]}}</div>
          {% endfor %}
        {% endif %}
      </div>
        <div class="main-container">
          <div class="form-container">

            <div class="form-body">

                <form class="the-form" action="/registration" method="post">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">

                    <label for="password">Nickname</label>
                    <input type="text" name="nick" id="text" placeholder="Enter your nickname">

                    <input type="submit" value="Sign Up">

                </form>

            </div><!-- FORM BODY-->

            <div class="form-footer">
                <div>
                    <span>Already have an account?</span> <a href="/login">Log In</a>
                </div>
            </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
{% endblock %}